doctype html
html(lang='en')
    head
        title Jade
        style.
            span {
                white-space: pre;
                clear: both;
                float: left;
            }
        script(type='text/javascript').

    body
        h1 Депутаты и их машины
        #container.col
        ol
            each item in pageData.name[0]
                li #{item}
